In [2]:
import pandas as pd
import numpy as np

# Load dataset
df = pd.read_csv("/content/Loan_data.csv")

# 1. Viewing and Inspecting DataFrames
print(" Shape of dataset:", df.shape)

print("\n Data Types and Null Values:")
print(df.info())

print("\n First 5 Rows:")
print(df.head())

print("\n Missing values in each column:")
print(df.isnull().sum())

# 2. Filtering and Subsetting Data

# Applicants with income > 5000
high_income = df[df['ApplicantIncome'] > 5000]
print(f"\n Number of high income applicants (>5000): {high_income.shape[0]}")

# Approved loans for self-employed applicants
approved_self_employed = df[(df['Self_Employed'] == 'Yes') & (df['Loan_Status'] == 'Y')]
print(f" Approved self-employed loans: {approved_self_employed.shape[0]}")

# Urban applicants with coapplicants
urban_with_coapp = df[(df['Property_Area'] == 'Urban') & (df['CoapplicantIncome'] > 0)]
print(f" Urban applicants with coapplicants: {urban_with_coapp.shape[0]}")

# 3. Descriptive Statistics

# LoanAmount column (drop NaNs)
loan_amt = df['LoanAmount'].dropna()

mean_loan = loan_amt.mean()
median_loan = loan_amt.median()
mode_loan = loan_amt.mode()[0]
range_loan = loan_amt.max() - loan_amt.min()
variance_loan = loan_amt.var()
std_loan = loan_amt.std()

print("\n LoanAmount Statistics:")
print(f"Mean: {mean_loan:.2f}")
print(f"Median: {median_loan}")
print(f"Mode: {mode_loan}")
print(f"Range: {range_loan}")
print(f"Variance: {variance_loan:.2f}")
print(f"Standard Deviation: {std_loan:.2f}")

# ApplicantIncome column
income = df['ApplicantIncome']

mean_income = income.mean()
median_income = income.median()
mode_income = income.mode()[0]
range_income = income.max() - income.min()
variance_income = income.var()
std_income = income.std()

print("\n ApplicantIncome Statistics:")
print(f"Mean: {mean_income:.2f}")
print(f"Median: {median_income}")
print(f"Mode: {mode_income}")
print(f"Range: {range_income}")
print(f"Variance: {variance_income:.2f}")
print(f"Standard Deviation: {std_income:.2f}")

# 4. Summary Table
print("\n Summary Statistics for All Numeric Columns:")
print(df.describe())


# 5. Group Analysis: Mean LoanAmount by Education
loan_by_education = df.groupby('Education')['LoanAmount'].mean()
print("\n Mean LoanAmount by Education:")
print(loan_by_education)

 Shape of dataset: (614, 13)

 Data Types and Null Values:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB
None

 First 5 Rows:
    Loan_ID Gender Married Dependents     Education Self_Employed  \
0  LP001002   Male      No          0      Graduate            No
1  LP001003   Male     Yes          1      Graduate            No
2  LP001005   Male     Yes          0      Graduate           Yes
3  LP001006   Male     Yes          0  Not Graduate            No
4  LP001008   Male      No          0      Graduate            No

   ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0             5849                0.0         NaN             360.0
1             4583             1508.0       128.0             360.0
2             3000                0.0        66.0             360.0
3             2583             2358.0       120.0             360.0
4             6000                0.0       141.0             360.0

   Credit_History Property_Area Loan_Status
0             1.0         Urban           Y
1             1.0         Rural           N
2             1.0         Urban           Y
3             1.0         Urban           Y
4             1.0         Urban           Y

 Missing values in each column:
Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

 Number of high income applicants (>5000): 191
 Approved self-employed loans: 56
 Urban applicants with coapplicants: 107

 LoanAmount Statistics:
Mean: 146.41
Median: 128.0
Mode: 120.0
Range: 691.0
Variance: 7325.19
Standard Deviation: 85.59

 ApplicantIncome Statistics:
Mean: 5403.46
Median: 3812.5
Mode: 2500
Range: 80850
Variance: 37320390.17
Standard Deviation: 6109.04

 Summary Statistics for All Numeric Columns:
       ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
count       614.000000         614.000000  592.000000         600.00000
mean       5403.459283        1621.245798  146.412162         342.00000
std        6109.041673        2926.248369   85.587325          65.12041
min         150.000000           0.000000    9.000000          12.00000
25%        2877.500000           0.000000  100.000000         360.00000
50%        3812.500000        1188.500000  128.000000         360.00000
75%        5795.000000        2297.250000  168.000000         360.00000
max       81000.000000       41667.000000  700.000000         480.00000

       Credit_History
count      564.000000
mean         0.842199
std          0.364878
min          0.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          1.000000

 Mean LoanAmount by Education:
Education
Graduate        154.060215
Not Graduate    118.409449
Name: LoanAmount, dtype: float64